body {
  font-family: "Open Sans", sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

h1 {
  font-weight: 400;
}

#mainView {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

header {
}

section {
  justify-self: center;
}

footer {
  margin-bottom: 0.5rem;
}
