* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #4e4b5c;
  background: linear-gradient(
    0deg,
    rgba(132, 126, 137, 1) 0%,
    rgba(78, 75, 92, 1) 100%
  );

  color: #afbfc0;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 1px;
}

#mainView {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

header {
  padding: 6rem 0 0;
  margin-bottom: 2rem;
}

label {
  font-size: 2rem;
  letter-spacing: 1px;
}

section {
  /* justify-self: center; */
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.5rem;
  margin: 1rem;
  width: 20rem;
  border-radius: 8px;
  border: 2px solid #afbfc0;
}

button {
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #afbfc0;
  color: #4e4b5c;
  border: 2px solid #afbfc0;
}

footer {
  margin: 2rem 0 1rem;
  color: #4e4b5c;
}
